// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
body .gif
    color: rgba(255,255,255,.8)

.gif
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.gif--fight
    background-image: url(../images/gif/fight.gif)

.gif--testing
    background-image: url(../images/gif/testing.gif)

.total
    background: #81F7D8

.normalSlide
    background: rgb(75, 204, 163)
    color: rgb(13, 83, 80)

.titleSlide
    background: rgb(117, 214, 252)

.avatar
    display: block
    margin: 0 auto
    width: 120px
    height: 120px
    float: left
    margin: 20px

.avatar--small
    width: 80px
    height: 80px

.avatar--big
    width: 160px
    height: 160px